<!DOCTYPE html>
<html>
<body>
<h2>Add Purchase History Record</h2>
<form method="POST">
    Purchase ID:<input name="purchase_id"><br><br>
    Customer ID:<input name="customer_id"><br><br>
    Medicine ID:<input name="med_id"><br><br>
    Medicine name:<input name="med_name"><br><br>
    Manufacturer:<input name="mfr"><br><br>
    Purchase date(yyyy-mm-dd):<input name="p_date"><br><br>
    Qty:<input name="qty"><br><br>
    MRP:<input name="mrp"><br><br>
    <button type="submit">Add</button>
</form>
<br>
<a href="/">Home</a>
</body>
</html>
