<!DOCTYPE html>
<html>
<body>

<!-- Page title -->
<h2>Customer</h2>

<!-- Inventory table -->
<table border="1">

<!-- Table header -->
<tr>
    <th>Customer ID</th>
    <th>Name</th>
    <th>Age</th>
</tr>

<!--
Jinja loop:
Iterates through "customers" list sent from Flask.
Each "m" represents one row from the inventory table.
-->
{% for m in customers %}
<tr>
    <!-- Customer ID -->
    <td>{{ m[0] }}</td>

    <!-- Customer Name -->
    <td>{{ m[1] }}</td>

    <!-- Age -->
    <td>{{ m[2] }}</td>

</tr>
{% endfor %}

</table>

<br>

<!-- Navigation link back to homepage -->
<a href="/">Home</a>

</body>
</html>


