<!DOCTYPE html>
<html>
<head>
    <title>Pharmacy System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">
<div class="container text-center mt-5">
    <h1 class="mb-4">Pharmacy Management System</h1>
    <a href="/inventory" class="btn btn-primary m-2">View Inventory</a>
    <a href="/add" class="btn btn-success m-2">Add Medicine</a>
    <a href="/display_medicine" class="btn btn-success m-2">Display Medicine</a>
    <a href="/update" class="btn btn-warning m-2">Update Medicine</a>
    <a href="/delete" class="btn btn-danger m-2">Delete Medicine</a><br><br>
    <a href="/Customer" class="btn btn-primary m-2">View Customers</a>
    <a href="/addcustomer" class="btn btn-success m-2">Add Customers</a>
    <a href="/updatecustomer" class="btn btn-warning m-2">Update Customers</a>
    <a href="/deletecustomer" class="btn btn-danger m-2">Delete Customers</a><br><br>
    <a href="/Purchase_History" class="btn btn-primary m-2">View Purchase History</a>
    <a href="/add_purchase_history_record" class="btn btn-success m-2">Add Purchase History Record</a><br>
    <a href="/display_sales_report" class="btn btn-success m-2">View Sales Report</a><br>
    <a href="/generate_bill" class="btn btn-success m-2">Generate Bill</a>
</div>
</body>
</html>